<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>False</PublishSingleFile>

    <!--
    https://en.wikipedia.org/wiki/X86-64#Microarchitecture_levels
    https://github.com/dotnet/runtime/blob/main/src/coreclr/nativeaot/docs/optimizing.md
    Setting the X64 instruction set baseline

    Can be specified on the command line for dotnet msbuild via the following switch: /p:IlcInstructionSet=x86-x64-v2

    v4 requires AVX-512 which is not supported by all of the processors supported by Windows 11

    https://learn.microsoft.com/windows-hardware/design/minimum/supported/windows-11-supported-intel-processors
    Windows 11 supported hardware that are low end such as Pentium or Celeron don't support v3, so have to use v2
    -->
    <IlcInstructionSet>x86-64-v2</IlcInstructionSet>


    <AppxPackageDir>MSIXOutputX64\</AppxPackageDir>

  </PropertyGroup>
</Project>