[build]
target-dir = "target"

[target.x86_64-pc-windows-msvc]
rustflags = [
  "-Z", "ehcont-guard=true",
  "-C", "control-flow-guard=true",
  "-Z", "cf-protection=full",
  "-C", "target-cpu=x86-64-v2",
  "-C", "target-feature=+crt-static",
]

[target.aarch64-pc-windows-msvc]
rustflags = [
  "-Z", "ehcont-guard=true",
  "-C", "control-flow-guard=true",
  "-C", "target-feature=+crt-static",
]

[alias]
build_x64 = "-Z build-std build --target x86_64-pc-windows-msvc --verbose --release"
build_arm64 = "-Z build-std build --target aarch64-pc-windows-msvc --verbose --release"
build_x64_lib = "-Z build-std build --target x86_64-pc-windows-msvc --verbose --release --lib"
build_arm64_lib = "-Z build-std build --target aarch64-pc-windows-msvc --verbose --release --lib"
build_x64_bin = "-Z build-std build --target x86_64-pc-windows-msvc --verbose --release --bin exploit_mitigations"
build_arm64_bin = "-Z build-std build --target aarch64-pc-windows-msvc --verbose --release --bin exploit_mitigations"
build_x64_all = "-Z build-std build --target x86_64-pc-windows-msvc --verbose --release --bins --lib"
build_arm64_all = "-Z build-std build --target aarch64-pc-windows-msvc --verbose --release --bins --lib"
