<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>    
  </packageSources>
  <auditSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
  </auditSources>
  <disabledPackageSources>
    <clear/>
  </disabledPackageSources>
</configuration>