<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>arm64</Platform>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>False</PublishSingleFile>

    <!--
    https://en.wikipedia.org/wiki/ARM_architecture_family
    Setting the ARM64 instruction set baseline

    Can be specified on the command line for dotnet msbuild via the following switch: /p:IlcInstructionSet=armv8.1-a

    https://learn.microsoft.com/windows-hardware/design/minimum/supported/windows-11-supported-qualcomm-processors
    -->

    <!--
    Commenting it for now because Azure ARM VM for Windows 11 24H2 has a CPU that only supports armv8-a, which is the minimum supported by the ILC and the minimum is already set by default.
    so we don't need to override it.

    Failure occurs by the app failing to start and it will be logged in: Windows Logs -> Application

    <IlcInstructionSet>armv8.1-a</IlcInstructionSet>
    -->

    <AppxPackageDir>MSIXOutputARM64\</AppxPackageDir>

  </PropertyGroup>
</Project>